$grayNotActive : #dfdada;
$white : #fff;

body {
    margin: 0;
    display: grid;
    height: 100svh;
    grid-template: 1fr 6fr / 1fr 4fr;
    gap: .1rem;

    & .appHeader {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .menu {
        grid-area: 2 / 1 / -1 / 2;

        & #newTodoNote {

            & fieldset {
                display: flex;
                flex-direction: column;
                gap:1rem;
                border: none;
            }
        }
    }

    & .allProjects {
        grid-area: 1 / 2 / -1 / -1;

        & .allProjectsHeader {
            // border-bottom: 1px ridge black;
        }

        & button{ //to add an active pseudo class of active. -- will need some jS.
            background-color: $white;/// to be changed on each click, like a library.
            border: none;
            border-bottom: 1px ridge black;
            cursor: pointer;
            height: 40px;
            width: 120px;
            border-radius: 12px 12px 0px 0px;

            &:not(:focus) {
                background-color: $grayNotActive;
            }
        }

        & .ProjectTodoNotes {
            background-color: $white;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1rem;
            padding: 1rem;

            & .todoDiv {
                // box-shadow: 1px 1px 4px black;
                padding: 1rem;
            }

        }

        
    }
}
